<html>
<head>
<style>

.gtext{
color:blue;
background-color:#00FF00;
}
table,  td {
    border: 1px solid black;
    border-collapse: collapse;
	}
    input, textarea{
           border: 0px;
    }
</style>
</head>
<body>
<div style="padding-left:25px">
    <h1>CRUCIAL QUESTIONS</h1>
   <div>    
   <table>
<tr>
<td>Name of the producer:</td>
<td><input type="text" value=""></td>
</tr>
<tr>
<td>Legal status:</td>
<td><input type="text" value=""></td>
</tr>
<tr>
<td rowspan="2">Name of Internal Assessor:<br>(if applicable)</td>
<td><input type="text" value=""></td>
</tr>
<tr>
<td><input type="text" value=""></td>
</tr>
<tr>
<td>Job title of Internal Assessor:</td>
<td><input type="text" value=""></td>
</tr>
<tr>
<td>Product(s):</td>
<td><input type="text" value=""></td>
</tr>
<tr>
<td rowspan="2">Total number of workers:</td>
<td><input type="text" value=""></td>
</tr>
<tr>
<td><input type="text" value=""></td>
</tr>
    </table>
  </div><br><br>
  <div>
  <table><tr>
  <td></td>
  <td><b>Not started</b></td>
  <td><b>In progress</b></td>
  <td><b>Already in <br>practice</b></td>
  </tr>
  <tr>
  <th class="gtext" colspan="4">Performance area 1: Social Management System and Cascade Effect </th>
  </tr>
  <tr>
  <td>This performance area does not have crucial questions</td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th  class="gtext" colspan="4">Performance area 2: Workers Involvement and Protection </th>
  </tr>
  <tr>
  <td >The auditee takes specific steps to make workers aware of their rights and responsibilities</td>
  <td align="center"><input type="radio"  name="1"/></td>
  <td align="center"><input type="radio"  name="1"/></td>
  <td align="center"><input type="radio"  name="1"/></td>
  </tr>
    <tr>
  <th class="gtext" colspan="4">Performance area 3: The rights of Freedom of Association and Collective Bargaining </th>
  </tr>
  <tr>
  <td>The auditee respects workers’ right to bargain collectively</td>
  <td align="center"><input type="radio"  name="2"/></td>
  <td align="center"><input type="radio"  name="2"/></td>
  <td align="center"><input type="radio"  name="2"/></td>
  </tr>
  <tr>
  <th class="gtext" colspan="4">Performance area 4:  No Discrimination</th>
  </tr>
  <tr>
  <td>The auditee takes the necessary measures to avoid or eradicate discrimination in the workplace</td>
  <td align="center"><input type="radio"  name="3"/></td>
  <td align="center"><input type="radio"  name="3"/></td>
  <td align="center"><input type="radio"  name="3"/></td>
  </tr>
  <tr>
  <th class="gtext" colspan="4">Performance area 5: Fair Remuneration</th>
  </tr>
  <tr>
  <td>The auditee complies with the government’s minimum wage legislation or the industry standard approved through collective bargaining (if applicable)</td>
  <td align="center"><input type="radio"  name="4"/></td>
  <td align="center"><input type="radio"  name="4"/></td>
  <td align="center"><input type="radio"  name="4"/></td>
  </tr>
  <tr>
  <td>The auditee ensures that deductions from wages are only taken under the conditions and to the extent prescribed by the law</td>
  <td align="center"><input type="radio"  name="5"/></td>
  <td align="center"><input type="radio"  name="5"/></td>
  <td align="center"><input type="radio"  name="5"/></td>
  </tr>
    <tr>
  <th class="gtext" colspan="4">Performance area 6: Decent Working Hours</th>
  </tr>
  <tr>
  <td>The auditee grants workers the right to resting breaks in every working day</td>
  <td align="center"><input type="radio"  name="6"/></td>
  <td align="center"><input type="radio"  name="6"/></td>
  <td align="center"><input type="radio"  name="6"/></td>
  </tr>
  <tr>
  <td>The auditee grants workers the right to at least one day off in every seven days</td>
  <td align="center"><input type="radio"  name="7"/></td>
  <td align="center"><input type="radio"  name="7"/></td>
  <td align="center"><input type="radio"  name="7"/></td>
  </tr>
  <tr>
   <th class="gtext" colspan="4">Performance area 7: Occupational Health and Safety</th>
  </tr>
  <tr>
  <td>The auditee respects the workers’ right to remove themselves from imminent danger without seeking permission</td>
  <td align="center"><input type="radio"  name="8"/></td>
  <td align="center"><input type="radio"  name="8"/></td>
  <td align="center"><input type="radio"  name="8"/></td>
  </tr>
  <tr>
  <td>The auditee has installed an adequate amount of firefighting equipment , which works properly  </td>
  <td align="center"><input type="radio"  name="9"/></td>
  <td align="center"><input type="radio"  name="9"/></td>
  <td align="center"><input type="radio"  name="9"/></td>
  </tr>
    <tr>
  <td>The auditee ensures that escape routes, aisles and emergency exits in the production site are easily accessible, clearly marked and not blocked</td>
  <td align="center"><input type="radio"  name="10"/></td>
  <td align="center"><input type="radio"  name="10"/></td>
  <td align="center"><input type="radio"  name="10"/></td>
  </tr>
  <tr>
  <td>The auditee ensures qualified first-aid is available at all times  </td>
  <td align="center"><input type="radio"  name="11"/></td>
  <td align="center"><input type="radio"  name="11"/></td>
  <td align="center"><input type="radio"  name="11"/></td>
  </tr>
    <tr>
  <td>The auditee provides potable water for workers at all times  </td>
  <td align="center"><input type="radio"  name="12"/></td>
  <td align="center"><input type="radio"  name="12"/></td>
  <td align="center"><input type="radio"  name="12"/></td>
  </tr>
    <tr>
   <th class="gtext" colspan="4">Performance area 8: No Child Labour</th>
  </tr>
  <tr>
  <td>The auditee does not engage in illegal child labour directly or indirectly</td>
  <td align="center"><input type="radio"  name="13"/></td>
  <td align="center"><input type="radio"  name="13"/></td>
  <td align="center"><input type="radio"  name="13"/></td>
  </tr>
      <tr>
   <th class="gtext" colspan="4">Performance area 9: Special protection for young workers </th>
  </tr>
  <tr>
  <td>Young workers’ working hours do not prejudice: <br>
o Their attendance at school <br>
o Their participation in vocational orientation approved by the competent authority <br>
o Their capacity to benefit from training or instruction programmes</td>
  <td align="center"><input type="radio"  name="14"/></td>
  <td align="center"><input type="radio"  name="14"/></td>
  <td align="center"><input type="radio"  name="14"/></td>
  </tr>
    <tr>
  <td>The auditee establishes the necessary mechanisms to prevent, identify and mitigate harm to young workers</td>
  <td align="center"><input type="radio"  name="15"/></td>
  <td align="center"><input type="radio"  name="15"/></td>
  <td align="center"><input type="radio"  name="15"/></td>
  </tr>
        <tr>
   <th class="gtext" colspan="4">Performance area 10: No Precarious Employment</th>
  </tr>
  <tr>
  <td>The auditee does not use employment arrangements in a way that deliberately conflicts with the genuine purpose of the law</td>
  <td align="center"><input type="radio"  name="16"/></td>
  <td align="center"><input type="radio"  name="16"/></td>
  <td align="center"><input type="radio"  name="16"/></td>
  </tr>
          <tr>
   <th class="gtext" colspan="4">Performance area 11: No Bonded Labour </th>
  </tr>
  <tr>
  <td>The auditee does not engage workers under any form of servitude or forced, bonded, indentured, trafficked or non-voluntary labour.</td>
  <td align="center"><input type="radio"  name="17"/></td>
  <td align="center"><input type="radio"  name="17"/></td>
  <td align="center"><input type="radio"  name="17"/></td>
  </tr>
    <tr>
  <td>The auditee does not treat workers in an inhumane or degrading manner. Corporal punishment, mental or physical coercion and/or verbal abuse are forbidden.</td>
  <td align="center"><input type="radio"  name="18"/></td>
  <td align="center"><input type="radio"  name="18"/></td>
  <td align="center"><input type="radio"  name="18"/></td>
  </tr>
  <tr>
   <th class="gtext" colspan="4">Performance area 12: Protection of the Environment </th>
  </tr>
  <tr>
  <td>This performance area does not have crucial questions</td>
  <td align="center"><input type="radio"  name="19"/></td>
  <td align="center"><input type="radio"  name="19"/></td>
  <td><input type="radio"  name="19"/></td>
  </tr>
    <tr>
   <th class="gtext" colspan="4">Performance area 13: Ethical Business Behaviour </th>
  </tr>
  <tr>
  <td>The auditee takes the necessary measures to prevent:<br>
o Falsification of information related to its activities, structure and performance<br>
o Any act of misrepresentation of its supply chain<br>
</td>
  <td align="center"><input type="radio"  name="20"/></td>
  <td align="center"><input type="radio"  name="20"/></td>
  <td align="center"><input type="radio"  name="20"/></td>
  </tr>
  </table>
  </div>
    </div>
	</body>
</html>