<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Insert title here</title>
</head>
<style>
    table {
        border-collapse: separate;
        border-spacing: 0 1em;
        padding-left: 20px;
    }

    input, textarea {
        border: 1px solid #0000FF;
    }

    #contentHeading {
        border: 2px solid green;
    }
</style>
<body>
<div>
    <div style="padding-left:20px;"><h1>Grievance Mechanism</h1></div>
    <div style="padding-left:20px;"><label>This template supports the auditee to keep accurate information of any
        grievance lodged and its investigation. This information shall <br>be verified by the auditor. </label></div>
    <div>
        <table>
            <tr>
                <td>ID given to the Grievance :</td>
                <td style="width:42px"></td>
                <td><input type="text" size="43"/></td>
            </tr>
            <tr>
                <td>Grievance lodged :</td>
                <td style="width:42px"></td>
                <td>Day<input type="text" size="5"/>Month<input type="text" size="5"/>Year<input type="text" size="5"/>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>The auditee duplicates the table below as many times as there are grievances lodged.</td>
            </tr>
        </table>
        <div>
            <table>
                <tr>
                    <td colspan="3" align="center" id="contentHeading"><b>Hearing of the parties</b></td>
                </tr>
                <tr>
                    <td>Yes<input type="radio" name="row1" style="margin-right: 30px"/></td>
                    <td style="width:10px"></td>
                    <td>No<input type="radio" name="row2"/></td>
                </tr>
                <tr>
                    <td colspan="3">Comments<input type="text" size="65"/></td>
                </tr>

                <tr>
                    <td colspan="3" align="center" id="contentHeading"><b>Further investigation needed</b></td>
                </tr>
                <tr>
                    <td>Yes<input type="radio" name="row2" style="margin-right: 30px"/></td>
                    <td style="width:10px"></td>
                    <td>No<input type="radio" name="row2"/></td>
                </tr>
                <tr>
                    <td colspan="3">Comments<input type="text" size="65"/></td>
                </tr>

                <tr>
                    <td colspan="3" align="center" id="contentHeading"><b>Conclusion reached and accepted</b></td>
                </tr>
                <tr>
                    <td>Yes<input type="radio" name="row3" style="margin-right: 30px"/></td>
                    <td style="width:10px"></td>
                    <td>No<input type="radio" name="row3"/></td>
                </tr>
                <tr>
                    <td colspan="3">Comments<input type="text" size="65"/></textarea></td>
                </tr>

                <tr>
                    <td colspan="3" align="center" id="contentHeading"><b>Has a workers representative been
                        involved?</b></td>
                </tr>
                <tr>
                    <td>Yes<input type="radio" name="row4" style="margin-right: 30px"/></td>
                    <td style="width:10px"></td>
                    <td>No<input type="radio" name="row4"/></td>
                </tr>
                <tr>
                    <td colspan="3">Comments<input type="text" size="65"/></td>
                </tr>

                <tr>
                    <td colspan="3" align="center" id="contentHeading"><b>Has the grievance escalated to a higher
                        level?</b></td>
                </tr>
                <tr>
                    <td>Yes<input type="radio" name="row5" style="margin-right: 30px"/></td>
                    <td style="width:10px"></td>
                    <td>No<input type="radio" name="row5"/></td>
                </tr>
                <tr>
                    <td colspan="3">Comments<input type="text" size="65"/></td>
                </tr>

                <tr>
                    <td colspan="3" align="center" id="contentHeading"><b>Has the grievance led to a legal case?</b>
                    </td>
                </tr>
                <tr>
                    <td>Yes<input type="radio" name="" style="margin-right: 30px"/></td>
                    <td style="width:10px"></td>
                    <td>No<input type="radio" name=""/></td>
                </tr>
                <tr>
                    <td colspan="3">Comments<input type="text" size="65"/></td>
                </tr>

            </table>
        </div>
    </div>
</div>
</body>
</html>