<div class="container">
    <div class="col-md-6 col-sm-12">
        <table border="1" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0 gridlines">
            <col class="col0">
            <col class="col1">
            <col class="col2">
            <col class="col3">
            <col class="col4">
            <col class="col5">
            <tbody>
            <tr class="row0">
                <td class="column0 style1 s">Year</td>
                <td class="column1 style2 s">Month</td>
                <td class="column2 style2 s">Number of Audits conducted</td>
                <td class="column3 style2 s">Open</td>
                <td class="column4 style2 s">Close</td>
                <td class="column5 style2 s">Number of Non-conformance</td>
            </tr>
            <tr class="row1">
                <td class="column0 style3 n">2017</td>
                <td class="column1 style4 s">Jan</td>
                <td class="column2 style4 n">10</td>
                <td class="column3 style4 n">2</td>
                <td class="column4 style4 n">8</td>
                <td class="column5 style4 n">25</td>
            </tr>
            <tr class="row2">
                <td class="column0 style3 n">2017</td>
                <td class="column1 style4 s">Feb</td>
                <td class="column2 style4 n">8</td>
                <td class="column3 style4 n">4</td>
                <td class="column4 style4 n">4</td>
                <td class="column5 style4 n">28</td>
            </tr>
            <tr class="row3">
                <td class="column0 style3 n">2017</td>
                <td class="column1 style4 s">Mar</td>
                <td class="column2 style4 n">11</td>
                <td class="column3 style4 n">6</td>
                <td class="column4 style4 n">5</td>
                <td class="column5 style4 n">34</td>
            </tr>
            <tr class="row4">
                <td class="column0 style3 n">2017</td>
                <td class="column1 style4 s">Apr</td>
                <td class="column2 style4 n">9</td>
                <td class="column3 style4 n">4</td>
                <td class="column4 style4 n">5</td>
                <td class="column5 style4 n">19</td>
            </tr>
            <tr class="row5">
                <td class="column0 style3 n">2017</td>
                <td class="column1 style4 s">May</td>
                <td class="column2 style4 n">12</td>
                <td class="column3 style4 n">4</td>
                <td class="column4 style4 n">8</td>
                <td class="column5 style4 n">26</td>
            </tr>
            <tr class="row6">
                <td class="column0 style3 n">2017</td>
                <td class="column1 style4 s">Jun</td>
                <td class="column2 style4 n">16</td>
                <td class="column3 style4 n">6</td>
                <td class="column4 style4 n">10</td>
                <td class="column5 style4 n">41</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-sm-12">
        <table border="1" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0 gridlines">
            <col class="col0">
            <col class="col1">
            <col class="col2">
            <col class="col3">
            <tbody>
            <tr class="row0">
                <td class="column0 style1 s">Area</td>
                <td class="column1 style2 s">FTA Certified Producers</td>
                <td class="column2 style2 s">Audits Faced</td>
                <td class="column3 style2 s">Audits Passed</td>
            </tr>
            <tr class="row1">
                <td class="column0 style3 s">Importing Companies</td>
                <td class="column1 style4 n">1284</td>
                <td class="column2 style4 n">500</td>
                <td class="column3 style4 n">250</td>
            </tr>
            <tr class="row2">
                <td class="column0 style3 s">Brands</td>
                <td class="column1 style4 n">329</td>
                <td class="column2 style4 n">200</td>
                <td class="column3 style4 n">179</td>
            </tr>
            <tr class="row3">
                <td class="column0 style3 s">Retailers</td>
                <td class="column1 style4 n">214</td>
                <td class="column2 style4 n">200</td>
                <td class="column3 style4 n">185</td>
            </tr>
            <tr class="row4">
                <td class="column0 style3 s">Holding</td>
                <td class="column1 style4 n">80</td>
                <td class="column2 style4 n">80</td>
                <td class="column3 style4 n">73</td>
            </tr>
            <tr class="row5">
                <td class="column0 style3 s">Association</td>
                <td class="column1 style4 n">15</td>
                <td class="column2 style4 n">10</td>
                <td class="column3 style4 n">4</td>
            </tr>
            <tr class="row6">
                <td class="column0 style3 s">Supermarket</td>
                <td class="column1 style4 n">1</td>
                <td class="column2 style4 n">1</td>
                <td class="column3 style4 n">1</td>
            </tr>
            </tbody>
        </table>
        <br/>
    </div>
    <div class="col-md-6 col-sm-12">
        <table border="1" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0 gridlines">
            <col class="col0">
            <col class="col1">
            <col class="col2">
            <col class="col3">
            <tbody>
            <tr class="row0">
                <td class="column0 style3 s">Area</td>
                <td class="column1 style4 s">Audit #</td>
                <td class="column2 style4 s">Audit date</td>
                <td class="column3 style4 s">Audit Result</td>
            </tr>
            <tr class="row1">
                <td class="column0 style1 s">3S Company</td>
                <td class="column1 style2 n">1234</td>
                <td class="column2 style5 n">Jan-17</td>
                <td class="column3 style2 s">Passed</td>
            </tr>
            <tr class="row2">
                <td class="column0 style1 s">A-Tex</td>
                <td class="column1 style2 n">2675</td>
                <td class="column2 style5 n">Feb-17</td>
                <td class="column3 style2 s">Failed</td>
            </tr>
            <tr class="row3">
                <td class="column0 style1 s">Adidas</td>
                <td class="column1 style2 n">3876</td>
                <td class="column2 style5 n">Mar-17</td>
                <td class="column3 style2 s">Passed</td>
            </tr>
            <tr class="row4">
                <td class="column0 style1 s">Alberto</td>
                <td class="column1 style2 n">5271</td>
                <td class="column2 style5 n">Apr-17</td>
                <td class="column3 style2 s">Passed</td>
            </tr>
            <tr class="row5">
                <td class="column0 style1 s">Beluga Spielwaren</td>
                <td class="column1 style2 n">7281</td>
                <td class="column2 style5 n">May-17</td>
                <td class="column3 style2 s">Failed</td>
            </tr>
            <tr class="row6">
                <td class="column0 style1 s">Bolsius</td>
                <td class="column1 style2 n">7943</td>
                <td class="column2 style5 n">Jun-17</td>
                <td class="column3 style2 s">Passed</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br/>
<div class="container">
    <div class="pull-right">
        <label>View As</label>
        <select id="drop_down" onchange="selectOption()">
            <option value="Auditor">Auditor</option>
            <option value="FTA">FTA Administration</option>
            <option value="Member">Member</option>
        </select>
    </div>
</div>
<div class="container">

    <div id='chartDiv' class="col-md-6 col-sm-12"></div>
    <div id='chartDiv2' class="col-md-6 col-sm-12"></div>
    <div id='myChart1' class="col-md-3 col-sm-12"></div>
    <div id='myChart2' class="col-md-3 col-sm-12"></div>
    <div id='myChart3' class="col-md-3 col-sm-12"></div>
    <div id='myChart4' class="col-md-3 col-sm-12"></div>
    <div id='myChart5' class="col-md-3 col-sm-12"></div>
    <div id='myChart6' class="col-md-3 col-sm-12"></div>
    <div id='myChart7' class="col-md-6 col-sm-12"></div>
    <div id='myChart9' class="col-md-12 col-sm-12"></div>
    <div id='myChart8' class="col-md-12 col-sm-12"></div>
    <!--<div id='myChart2' class="col-md-6 col-sm-12"></div>-->
    <!--<div id="myChart3" class="col-md-6 col-sm-12"></div>-->
    <!--<div id='myChart4' class="col-md-6 col-sm-12"></div>-->
</div>
