<div class="container">
    <div class="pull-right">
        <label>View As</label>
        <select>
            <option>Auditor</option>
            <option>FTA Administration</option>
            <option>Member</option>
        </select>
    </div>
</div>
<div class="container">
    <div id ='chartDiv' class="col-md-6 col-sm-12"></div>
    <div id='myChart' class="col-md-6 col-sm-12"></div>
    <div id='myChart2' class="col-md-6 col-sm-12"></div>
    <div id="myChart3" class="col-md-6 col-sm-12"></div>
</div>
