<div class="container">
    <div class="pull-right">
        <label>View As</label>
        <select id="drop_down" onchange="selectOption()">
            <option value="Auditor">Auditor</option>
            <option value="FTA">FTA Administration</option>
            <option value="Member">Member</option>
        </select>
    </div>
</div>
<div class="container">
    <div id ='chartDiv' class="col-md-6 col-sm-12"></div>
    <div id ='chartDiv2' class="col-md-6 col-sm-12"></div>
    <div id='myChart1' class="col-md-3 col-sm-12"></div>
    <div id='myChart2' class="col-md-3 col-sm-12"></div>
    <div id='myChart3' class="col-md-3 col-sm-12"></div>
    <div id='myChart4' class="col-md-3 col-sm-12"></div>
    <div id='myChart5' class="col-md-3 col-sm-12"></div>
    <div id='myChart6' class="col-md-3 col-sm-12"></div>
    <div id='myChart7' class="col-md-6 col-sm-12"></div>
    <div id='myChart9' class="col-md-12 col-sm-12"></div>
    <div id='myChart8' class="col-md-12 col-sm-12"></div>
    <!--<div id='myChart2' class="col-md-6 col-sm-12"></div>-->
    <!--<div id="myChart3" class="col-md-6 col-sm-12"></div>-->
    <!--<div id='myChart4' class="col-md-6 col-sm-12"></div>-->
</div>
