<html>
<head>
<style>
table,  td {
    border: 1px solid black;
    border-collapse: collapse;
}
.gtext{
color:blue;
background-color:#00FF00;
}
input, textarea{
    border: 0px;
}
span{
    background-color: cornsilk;
    padding-left:355px;
	padding-right:355px;
   border:2px black solid;
}
</style>
</head>
<body>
<div>
    <h1><span>SMALL HOLDER PERFORMANCE EVALUATION</span></h1>
<div style="padding-left:25px">
    <p><b>IMPORTANT:</b> Please notice that this tab is only relevant to gather information concerning farm with family workforce or less than  5 workers hired. 
For any other kind of producer please use  the Performance evaluation tab.</p>
<div>    
<table>
<tr>
<td>Name of the small holder:</td>
<td><input type="text" value="" size="47"></td>
</tr>
<tr>
<td>Legal status:</td>
<td><input type="text" value="" size="47"></td>
</tr>
<tr>
<td rowspan="2">Name of Internal Assessor:<br>(if applicable)</td>
<td><input type="text" value="" size="47"></td>
</tr>
<tr>
<td><input type="text" value=""size="47"></td>
</tr>
<tr>
<td>Job title of Internal Assessor:</td>
<td><input type="text" value="" size="47"></td>
</tr>
<tr>
<td>Product(s):</td>
<td><input type="text" value="" size="47"></td>
</tr>
<tr>
<td rowspan="2">Total number of workers:</td>
<td>Please notice that it should be less than 5 workers hired</td>
</tr>
<tr>
<td><input type="text" value="" size="47"></td>
</tr>
    </table>
  </div><br><br>
  <div>
  <table><tr>
  <td></td>
  <td><b>Not started</b></td>
  <td><b>In progress</b></td>
  <td><b>Already in <br>practice</b></td>
  </tr>
  <tr>
  <th class="gtext" colspan="4">Performance area 1: Social Management System and Cascade Effect </th>
  </tr>
  <tr>
  <td>This performance area does not apply to smallholders.</td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <th class="gtext" colspan="4">Performance area 2: Workers Involvement and Protection </th>
  </tr>
  <tr>
  <td>The auditee involves workers and exchanges information with them on workplace issues.   </td>
  <td align="center"><input type="radio"  name="1"/></td>
  <td align="center"><input type="radio"  name="1"/></td>
  <td align="center"><input type="radio"  name="1"/></td>
  </tr>
  <tr>
  <td>The auditee takes specific steps to make workers aware of their rights and responsibilities.</td>
  <td align="center"><input type="radio"  name="2"/></td>
  <td align="center"><input type="radio"  name="2"/></td>
  <td align="center"><input type="radio"  name="2"/></td>
  </tr>
    <tr>
  <th class="gtext" colspan="4">Performance area 3: The rights of Freedom of Association and Collective Bargaining </th>
  </tr>
  <tr>
  <td>The auditee respects the right of workers to form unions in a free and democratic way.</td>
  <td align="center"><input type="radio"  name="3"/></td>
  <td align="center"><input type="radio"  name="3"/></td>
  <td align="center"><input type="radio"  name="3"/></td>
  </tr>
  <tr>
  <th class="gtext" colspan="4">Performance area 4:  No Discrimination</th>
  </tr>
    <tr>
  <td>The auditee takes the necessary measures to avoid or eradicate discrimination in the workplace.</td>
  <td align="center"><input type="radio"  name="4"/></td>
  <td align="center"><input type="radio"  name="4"/></td>
  <td align="center"><input type="radio"  name="4"/></td>
  </tr>
  <tr>
  <td>The auditee takes the necessary preventative and/or remedial measures so workers are not <br>harassed or disciplined on grounds of discrimination as defined in the BSCI Code.</td>
  <td align="center"><input type="radio"  name="5"/></td>
  <td align="center"><input type="radio"  name="5"/></td>
  <td align="center"><input type="radio"  name="5"/></td>
  </tr>
  
  <tr>
  <th class="gtext" colspan="4">Performance area 5: Fair Remuneration</th>
  </tr>
 <tr>
  <td>The auditee pays its workers at least the legal minimum wage or a higher wage approved through collective bargaining.</td>
  <td align="center"><input type="radio"  name="6"/></td>
  <td align="center"><input type="radio"  name="6"/></td>
  <td align="center"><input type="radio"  name="6"/></td>
  </tr>
  <tr>
  <td>The auditee pays wages on time, regularly and fully in legal tender.</td>
  <td align="center"><input type="radio"  name="7"/></td>
  <td align="center"><input type="radio"  name="7"/></td>
  <td align="center"><input type="radio"  name="7"/></td>
  </tr>
  <tr>
  <td>Auditee deductions to workers’ remuneration are only taken according to conditions prescribed by law.</td>
  <td align="center"><input type="radio"  name="8"/></td>
  <td align="center"><input type="radio"  name="8"/></td>
  <td align="center"><input type="radio"  name="8"/></td>
  </tr>
    <tr>
  <th class="gtext" colspan="4">Performance area 6: Decent Working Hours</th>
  </tr>
 <tr>
  <td>The auditee does not require workers to work more than 48 regular working hours per week, unless exceptional cases are prescribed by law.</td>
  <td align="center"><input type="radio"  name="9"/></td>
  <td align="center"><input type="radio"  name="9"/></td>
  <td align="center"><input type="radio"  name="9"/></td>
  </tr>
    <tr>
  <td>The auditee does not require workers to work overtime but may do so in exceptional cases by always paying a premium rate. </td>
  <td align="center"><input type="radio"  name="10"/></td>
  <td align="center"><input type="radio"  name="10"/></td>
  <td align="center"><input type="radio"  name="10"/></td>
  </tr>
   <tr>
  <td>The auditee grants workers the right to resting breaks in every working day.   </td>
  <td align="center"><input type="radio"  name="11"/></td>
  <td align="center"><input type="radio"  name="11"/></td>
  <td align="center"><input type="radio"  name="11"/></td>
  </tr>
   <tr>
  <td>The auditee grants workers the right to at least one day off in every seven days, unless a different agreement has been reached through collective bargaining. </td>
  <td align="center"><input type="radio"  name="12"/></td>
  <td align="center"><input type="radio"  name="12"/></td>
  <td align="center"><input type="radio"  name="12"/></td>
  </tr>
  
  <tr>
   <th class="gtext" colspan="4">Performance area 7: Occupational Health and Safety</th>
  </tr>
  <tr>
  <td>The auditee cooperates with workers when developing and implementing systems to ensure a healthy and safe work environment. </td>
  <td align="center"><input type="radio"  name="13"/></td>
  <td align="center"><input type="radio"  name="13"/></td>
  <td align="center"><input type="radio"  name="13"/></td>
  </tr>
   <tr>
  <td>The auditee enforces the use of personal protective equipment with other safety systems and procedures.</td>
  <td align="center"><input type="radio"  name="14"/></td>
  <td align="center"><input type="radio"  name="14"/></td>
  <td align="center"><input type="radio"  name="14"/></td>
  </tr>
   <tr>
  <td>The auditee respects the workers’ right to remove themselves from imminent danger without seeking permission.</td>
  <td align="center"><input type="radio"  name="15"/></td>
  <td align="center"><input type="radio"  name="15"/></td>
  <td align="center"><input type="radio"  name="15"/></td>
  </tr>
  <tr>
  <td>The auditee provides workers with potable water at all times.</td>
  <td align="center"><input type="radio"  name="16"/></td>
  <td align="center"><input type="radio"  name="16"/></td>
  <td align="center"><input type="radio"  name="16"/></td>
  </tr>
     
    <tr>
   <th class="gtext" colspan="4">Performance area 8: No Child Labour</th>
  </tr>
   <tr>
  <td>The auditee does not engage in illegal child labour directly or indirectly.</td>
  <td align="center"><input type="radio"  name="17"/></td>
  <td align="center"><input type="radio"  name="17"/></td>
  <td align="center"><input type="radio"  name="17"/></td>
  </tr>
  
      <tr>
   <th class="gtext" colspan="4">Performance area 9: Special protection for young workers </th>
  </tr>
   <tr>
  <td>The auditee ensures that young workers do not work at night and that they are protected against working conditions which are harmful to their health, safety, morals and development.</td>
  <td align="center"><input type="radio"  name="17"/></td>
  <td align="center"><input type="radio"  name="17"/></td>
  <td align="center"><input type="radio"  name="17"/></td>
  </tr>
  <tr>
  <td>The auditee ensures that young workers’ working hours do not lower or affect their attendance at school, or any other training or instruction programmes.</td>
  <td align="center"><input type="radio"  name="18"/></td>
  <td align="center"><input type="radio"  name="18"/></td>
  <td align="center"><input type="radio"  name="18"/></td>
  </tr>
   <tr>
  <td>The auditee seeks to ensure that young workers are properly trained on occupational health and safety. </td>
  <td align="center"><input type="radio"  name="19"/></td>
  <td align="center"><input type="radio"  name="19"/></td>
  <td align="center"><input type="radio"  name="19"/></td>
  </tr>
    <tr>
  <td>The auditee has a good overview of all young workers engaged in its production site(s). The overview may include the auditee’s family members who support with ‘light work’.</td>
  <td align="center"><input type="radio"  name="20"/></td>
  <td align="center"><input type="radio"  name="20"/></td>
  <td align="center"><input type="radio"  name="20"/></td>
  </tr>
  
  <tr>
   <th class="gtext" colspan="4">Performance area 10: No Precarious Employment</th>
  </tr>
   <tr>
  <td>The auditee does not provide employment relationships that cause insecurity for the workers.</td>
  <td align="center"><input type="radio"  name="21"/></td>
  <td align="center"><input type="radio"  name="21"/></td>
  <td align="center"><input type="radio"  name="21"/></td>
  </tr>
   <tr>
  <td>The auditee employs workers based on recognised employment relationships and keeps records of the contracts.</td>
  <td align="center"><input type="radio"  name="22"/></td>
  <td align="center"><input type="radio"  name="22"/></td>
  <td align="center"><input type="radio"  name="22"/></td>
  </tr>
    <tr>
  <td>The auditee provides workers with understandable information on their rights and obligations before they start working.</td>
  <td align="center"><input type="radio"  name="23"/></td>
  <td align="center"><input type="radio"  name="23"/></td>
  <td align="center"><input type="radio"  name="23"/></td>
  </tr>
  
  <tr>
   <th class="gtext" colspan="4">Performance area 11: No Bonded Labour </th>
  </tr>
   <tr>
  <td>The auditee does not engage workers under any form of servitude or forced, bonded, indentured, trafficked or non-voluntary labour.</td>
  <td align="center"><input type="radio"  name="24"/></td>
  <td align="center"><input type="radio"  name="24"/></td>
  <td align="center"><input type="radio"  name="24"/></td>
  </tr>
   <tr>
  <td>The auditee acts carefully and remains vigilant when recruiting and engaging migrant workers either directly or indirectly.</td>
  <td align="center"><input type="radio"  name="25"/></td>
  <td align="center"><input type="radio"  name="25"/></td>
  <td align="center"><input type="radio"  name="25"/></td>
  </tr>
    <tr>
  <td>The auditee does not treat workers in an inhumane or degrading manner. Corporal punishment, mental or physical coercion and/or verbal abuse are forbidden.</td>
  <td align="center"><input type="radio"  name="26"/></td>
  <td align="center"><input type="radio"  name="26"/></td>
  <td align="center"><input type="radio"  name="26"/></td>
  </tr>
 
  <tr>
   <th class="gtext" colspan="4">Performance area 12: Protection of the Environment </th>
  </tr>
    <tr>
  <td>The auditee manages waste in a way that does not lead to the pollution of the environment.</td>
  <td align="center"><input type="radio"  name="27"/></td>
  <td align="center"><input type="radio"  name="27"/></td>
  <td align="center"><input type="radio"  name="27"/></td>
  </tr>
    <tr>
  <td>The auditee manages water in a way that respects the environment, particularly with respect to preserving local water sources.</td>
  <td align="center"><input type="radio"  name="28"/></td>
  <td align="center"><input type="radio"  name="28"/></td>
  <td align="center"><input type="radio"  name="28"/></td>
  </tr>
  
    <tr>
   <th class="gtext" colspan="4">Performance area 13: Ethical Business Behaviour </th>
  </tr>
    <tr>
  <td>The auditee actively opposes corruption, extortion or in any form of bribery in its activities.</td>
  <td align="center"><input type="radio"  name="29"/></td>
  <td align="center"><input type="radio"  name="29"/></td>
  <td align="center"><input type="radio"  name="29"/></td>
  </tr>
    <tr>
  <td>The auditee keeps accurate information regarding its own activities and organisational structure.</td>
  <td align="center"><input type="radio"  name="30"/></td>
  <td align="center"><input type="radio"  name="30"/></td>
  <td align="center"><input type="radio"  name="30"/></td>
  </tr>
  
  </table>
  </div>
  </div>
    </div>
	</body>
</html>