<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
</head>
<style>
table {
    border-collapse: separate;
    border-spacing: 0 1em;
}
    input, textarea{
       border:1px solid #0000FF;
    }
    
</style>
<body>
<div>
<h1>STAKEHOLDER MAPPING</h1>
<div><label>This template supports the auditee to identify the potential allies for its continuous improvement. The auditee shall pay particular attention to identify the institutions <br>or NGOs that could provide it with support to reintegrate children into society.<br>
The auditee may use one sheet per stakeholder. </label></div>
<table>
<tr>
<td>Stakeholder name :</td><td style="width:42px"></td><td colspan="2"><input type="text" size="70"/></td>
</tr>
<br>
<tr>
<td>Relation since (e.g. year):  </td><td style="width:42px"></td><td colspan="2"><input type="text" size="70"/></td>
</tr>
<tr>
<td>Contact Person:</td><td style="width:42px"></td><td colspan="2">FirstName<input type="text" size="60"/><br>
																				             <div style="padding-left: 2px">LastName<input type="text" size="60"/></div>
																				             <div style="padding-left: 30px">Email<input type="email" size="60"/></div></td>
</tr>
<tr>
<td>Full Address:</td><td style="width:42px"></td>
<td colspan="2"><div>StreetNumber<input type="text" size="57"/></div>
<div style="padding-left: 32px">ZIPCode<input type="text" size="57"/></div>
<div style="padding-left: 62px">City<input type="text" size="57"/></div>
<div style="padding-left: 44px">Region<input type="text" size="57"/></div>
<div style="padding-left: 33px">Province<input type="text" size="57"/></div>
<div style="padding-left: 38px">Country<input type="text" size="57"/></div></td>
</tr>
<tr>
<td>Stakeholder type: </td>
<td style="width:42px"></td>
<td><span style="padding-right: 200px"><input type="radio"  name="StakeHolder" />Internal</span><input type="radio"  name="StakeHolder"/>External<br>
<span style="padding-right: 200px">(e.g. worker)</span>(e.g. trade union, client)</td>
</tr>
<tr>
<td>Specify stakeholder type (e.g. local NGO)  :</td><td style="width:42px" ></td><td colspan="2"><input type="text" size="70"/></td>
</tr>
<tr>
<td><b>Topic related</b></td></tr>
<tr>
<td><input type="checkbox" name="Topic" value="Anti-corruption">Anti-corruption	</td>
<td style="width:42px"></td>
<td><input type="checkbox" name="Topic" value="Occupational health and safety">Occupational health and safety</td>
</tr>
<tr>
<td><input type="checkbox" name="Topic" value="Stop Child labour">Stop Child labour</td>
<td style="width:42px"></td>
<td><input type="checkbox" name="Topic" value="Special protection for vulnerable workers">Special protection for vulnerable workers</td>
</tr>
<tr>
<td><input type="checkbox" name="Topic" value="Freedom of association">Freedom of association</td>
<td style="width:42px"></td>
<td><input type="checkbox" name="Topic" value="Training">Training</td>
</tr>
<tr>
<td><input type="checkbox" name="Topic" value="Grievance mechanism">Grievance mechanism</td>
<td style="width:42px"></td>
<td><input type="checkbox" name="Topic" value="Other">Other</td>
</tr>
<tr>
<td>Relevant for child labour remediation? </td>
<td style="width:42px"></td>
<td>Yes<input type="radio"  name="Child" style="margin-right: 30px"/>No<input type="radio"  name="Child"/></td>
</tr>
<tr>
<td>Additional comments about stakeholder (if any):</td>
<td style="width:42px"></td>
<td><textarea rows="4" cols="70"></textarea></td>
</tr>
</table>
</div>
</body>
</html>