<html>
<style>
table {
    border-collapse: separate;
    border-spacing: 0 1em;
}
    input, textarea{
       border:1px solid #0000FF;
    }
    
</style>
<body>
<div>
    <h1>YOUNG WORKERS DATA</h1>
    <p>This template supports the auditee to keep accurate information on any worker who is younger than 18 years old.</p>
    <p>The auditee shall use one sheet per worker. This information shall be verified by the auditor</p>
        <div>
        <table>
            <tr>
                <td>First  and last name :</td>
                <td colspan="3"><input type="text" size="90" value=""></td>
            </tr>
            <tr>
                <td>Date of birth:</td>
                <td>Day &nbsp;<input type="text" size="5" value="">&nbsp;&nbsp;</td>
                <td>Month &nbsp;<input type="text" size="5" value="">&nbsp;&nbsp;</td>
                <td>Year &nbsp;<input type="text" size="5" value="">&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>Working in the facility since :</td>
                <td>Day &nbsp;<input type="text" size="5" value="">&nbsp;&nbsp;</td>
                <td>Month &nbsp;<input type="text" size="5" value="">&nbsp;&nbsp;</td>
                <td>Year &nbsp;<input type="text" size="5" value="">&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>Department :</td>
                <td colspan="3"><input type="text" size="90" value=""></td>
            </tr>
            <tr>
                <td>Type of worker:</td>
                <td><input type="radio" name="type" value="">&nbsp;Permanent&nbsp;&nbsp;</td>
                <td><input type="radio" name="type" value="">&nbsp;Temporary&nbsp;&nbsp;</td>
                <td><input type="radio" name="type" value="">&nbsp;Seasonal&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>Recruited via:</td>
                <td><input type="radio" name="recruited" value="">&nbsp;Agency /Broker &nbsp;&nbsp;</td>
                <td><input type="radio" name="recruited" value="">&nbsp;Directly &nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>Attending school or vocational training:</td>
                <td><input type="radio" name="training" value="">&nbsp;Yes &nbsp;&nbsp;</td>
                <td><input type="radio" name="training" value="">&nbsp;No &nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if Yes, indicate the schooling time or training schedule:</td>
                <td colspan="3"><input type="text" size="90" value=""></td>
            </tr>
            <tr>
                <td>Working time schedule :</td>
                <td colspan="3"><input type="text" size="90" value=""></td>
            </tr>
             <tr>
                <td>Training on access to grievance mechanisms</td>
                <td><input type="radio" name="Mechanism" value="">&nbsp;Yes &nbsp;&nbsp;</td>
                <td><input type="radio" name="Mechanism" value="">&nbsp;No &nbsp;&nbsp;</td>
                <td>Planned by<input type="text" value=""></td>
            </tr>
            <tr>
                <td>Training on OHS (Occupational Health and Safety) :</td>
                <td colspan="3"><input type="text" value="" size="90" placeholder="Day:"/><br>
                    <input type="text" value="" size="90" placeholder="Topics:"/><br>
                    <input type="text" value="" size="90" placeholder="Frequency:"/><br>
                    <input type="text" size="90" value=""/><br></td>
            </tr>
            <tr>
                <td>Housing provided by auditee?</td>
                <td><input type="radio" name="Housing" value="">&nbsp;Yes &nbsp;&nbsp;</td>
                <td><input type="radio" name="Housing" value="">&nbsp;No &nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>Additional comments about young worker (if any):</td>
                <td colspan="3"><input size="90" type="text" value=""></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>